html,body,body>contenu {
    margin: 0%;
    padding: 0%;
    height: 100%;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0%;
    padding: 0%;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, grey, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    font-size: 3rem;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    border: solid 5px black;
    background-color: dimgray;
    color: aliceblue;
}
h2{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: red;
}
.p {
    font-size: 0.75rem;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0%;
    padding: 0%;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, grey, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    font-size: 3rem;
    color: black;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
